<body>
  <div class="cards">

    <div class="card" *ngFor="let dolar of dolarList">
      <div class="content">
        <div class="title">
        <h2>{{ dolar.casa | uppercase }}</h2>
        </div>

        <div class="seccion-compra-venta">
         
          <div class="seccion-compra">
            Compra: $ {{dolar.compra}}
          </div>
          
          <div class="seccion-venta">
            Venta: $ {{dolar.venta}}
          </div>
        </div>

      </div>

      <div class="footer">
        <p>Actualizado: {{dolar.fechaActualizacion | date: 'short'}} </p>
      </div>
    </div>

  </div>
</body>