<div *ngIf="actividadesArray.length > 0">
    <table mat-table [dataSource]="actividadesArray" class="mat-elevation-z5">
        
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let actividad">{{ actividad.descripcion }}</td>
  </ng-container>
  
  <ng-container matColumnDef="fechaInicio">
    <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
    <td mat-cell *matCellDef="let actividad">{{ actividad.fechaInicio | date }}</td>
  </ng-container>
  
  <ng-container matColumnDef="fechaFin">
    <th mat-header-cell *matHeaderCellDef> Fecha de Fin </th>
    <td mat-cell *matCellDef="let actividad">{{ actividad.fechaFin | date }}</td>
  </ng-container>


<ng-container matColumnDef="result">
  <th mat-header-cell *matHeaderCellDef> Resultado </th>
  <td mat-cell *matCellDef="let actividad">{{ actividad.result }}</td>

</ng-container>


  <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let actividad">

             
            <a class="pointer" style="color: #c94c4c" (click)="deleteActividad(actividad.id)" matTooltip="Delete Actividad">
                <mat-icon>delete</mat-icon>
            </a>
            
                <!-- 
                <a class="pointer" style="color: #484f4f" (click)="goToUpdateTask(task.id)" matTooltip="Modify Task">
                    <mat-icon>edit</mat-icon>
                </a>
                -->
                
                <!-- 
                <button mat-icon-button (click)="toggleComplete(task)">
                    <mat-icon>{{ task.completed ? 'check_circle' : 'radio_button_unchecked' }}</mat-icon>
                </button>
                -->

        </td>
   </ng-container>
     
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    
    <div id="addActividad">
        <button class="btn btn-success" (click)="addActividad()"> + </button>
    </div>

</div>
     
<div *ngIf="actividadesArray.length == 0">
    <h1>No hay actividades para mostrar</h1>
    <button class="btn btn-success" (click)="addActividad()"> Add Actividad </button> 
</div>