td{
    text-align: left;
    align-items: normal;
}

th{
    width: 20%;
}

.pointer{
    cursor: pointer;
}


#btn-delete-all {
    color: blue;
  }
  
/* En el archivo de estilos CSS de tu componente (por ejemplo, list-task.component.css) */

#btn-delete-all button {
    background-color: rgb(214, 0, 32);
    color: white; 
    margin-top: 15px;
  }
  
